<div class="header-container">
  <span class="user-profile">
    <img class="user-photo" src="assets/images/pic.png" />
    <span>CodingMan</span>
  </span>
</div>
<div class="message-box">
  <span class="other-message chat-message">
    <span>
      <span class="message-user"><span class="ptt-id">CodingMan</span><span class="message-time">2020/01/24 16:42</span></span>
      <span class="message-content">測試測試測試測試測試測試測試測試測試測試</span>
    </span>
  </span>
  <span class="my-message chat-message">
    <span>
      <span class="message-user"><span class="ptt-id">mobi76</span><span>2020/01/24 16:45</span></span>
      <span class="message-content">測試測測試測試</span>
    </span>
  </span>
  <span class="other-message chat-message">
    <span>
      <span class="message-user"><span class="ptt-id">CodingMan</span><span>2020/01/24 16:52</span></span>
      <span class="message-content">測試測試測試測試測試測試測試</span>
    </span>
  </span>
</div>
<div class="message-input">
  <form [formGroup]="chatForm">
    <textarea formControlName="chatMsg" name="chatMsg" rows="4" cols="50"></textarea>
  </form>
  <span class="message-info">{{chatMsgLen}}/25</span>
</div>
