.header-container {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;

  background: transparent linear-gradient(100deg, #134278 0%, #0D325E 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #F3F3F3;

  img.user-photo {
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
    margin-right: 7px;
  }
}
.message-box {
  padding: 1em;
  color: #ffffff;

  span {
    box-sizing: border-box;
  }

  .chat-message {
    display: block;
    margin-bottom: 1em;
    >span {
      display: inline-block;
      min-width: 150px;
    }
    .message-user {
      display: block;
      font-size: 10px;
      color: #BCBCBC;
    }
  }

  .message-content {
    display: inline-block;
    color: #1E1E1E;
    background: #AAE2FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #000000B0;
    padding: .8em;
  }

  .my-message {
    text-align: right;
    .message-content {
      border-radius: 50px 3px 50px 50px;
    }
  }
  .other-message {
    text-align: left;
    .message-content {
      border-radius: 3px 50px 50px 50px;
    }
  }


}

.message-input {
  position: absolute;
  bottom: 0px;
  width: 100%;
  form {
    padding: 0.5em;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    border: none;
    padding: 0.5em;
    box-sizing: border-box;
    resize: none;
  }
  .message-info {
    position: absolute;
    right: 10px;
    color: #9c9c9c;
    bottom: 10px;
  }
}
