[submodule "server"]
	path = server
	url = https://github.com/uPttTeam/server.git
[submodule "backend_util"]
	path = backend_util
	url = https://github.com/uPttTeam/backend_util.git
[submodule "client-server"]
	path = client-server
	url = https://github.com/uPttTeam/client-server.git
